/*Style the body tag*/
body{
	background-image:url("images/index-background.jpg");
	background-attachment:fixed;
}

/*Style the table*/
table,th,td{
	border:2px solid black;
}

/*Style heading 3 tag*/
h3{
	background-color:green;
}

/*Style the content class*/
.content{
	background-color:lightSkyBlue;
	border:4px solid black;
	max-width:200px;
}

/*Style the img tags*/
img{
	width:388px;
	border:4px solid black;
}

/*Style the color when hovered over*/
#hover-color:hover::first-line{
	background-color:lightSkyBlue;
}

/*Style the entire page excluding banner*/
.page{
	margin:auto;
	padding:0px 30px 30px 30px;
	max-width:1200px;
	background-color:lightGray;
	opacity:85%;
	font-weight:bold;
}

/*Style the table rows*/
th{
	background-color:lightGreen;
}
#first{
	background-color:lightSteelBlue;
}
#second{
	background-color:red;
}
#third{
	background-color:dodgerBlue;
}